@import '../../assets/styles/variables/_index.scss';

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo{
        margin: auto;
    }
    &-item{
        color: $color-blue;
    }
}